*,
*::before,
*::after {
  box-sizing: border-box;
}

:root{
    --white: #ffffff;
    --Mercury: #e9e9e9;
    --black: #000000;
    --Cod-Gray: #181818;
    --cod-gray2:#1E1E1E;
    --French-Gray: #c5c2ca;
    --goldenrod: #fdde67;
    --Vis: #ffeb9d;
    --electric-violet: #9747ff;
    --Celtic: #1b2d22;
    --Lunar-Green: #2a4032;
    --Killarney: #3a5e46;
    --white-opacity-30:#FFFFFF4D;
    --white-opacity-80:#FFFFFFCC;
    --white-opacity-20: #FFFFFF33;

    /* gradient */
    --gradient-green: linear-gradient(110.6deg, #2A4032 0.81%, #3A5E46 100%);
    --footer-gradient: linear-gradient(to right, #FDDE67 30%, #3B5F47 30%);
    /* Fonts */
    --font-primary: "Lato", sans-serif;
    --font-secondary: "Roboto", sans-serif;
}
body {
    font-family: var(--font-primary);
}
.container{
    width: 100%;
    max-width: 1540px;
    margin: 0 auto;
}
/* text */
h1{
    font-family: var(--font-primary);
    font-size: 112px;
    font-weight: 900;
    line-height: 100px;
    letter-spacing: 0.13em;
    color: var(--white);
}
h2{
    font-family: var(--font-primary);
    font-size: 48px;
    font-weight: 400;
    line-height: 48px;
    color: var(--black);
}
a {
    text-decoration: none;
}
/* col */
.col-4 {
    width: calc((100% / 12) * 4);
}
.col-5{
    width: calc((100% / 12) * 5);
}
.col-6{
    width: calc((100% / 12) * 6);
}
.col-7{
    width: calc((100% / 12) * 7);
}
.col-8{
    width: calc((100% / 12) * 8);
}
.col-9{
    width: calc((100% / 12) * 9);
}
.col-10{
    width: calc((100% / 12) * 10);
}
.col-11{
    width: calc((100% / 12) * 11);
}
.col-12{
    width: calc((100% / 12) * 12);
}
/* padding */
.padding-left{
    padding-left: 110px;
}
.padding-right{
    padding-right: 110px;
}
/* button */
.btn {
    height: 49px;
    padding: 16px 40px;
    border-radius: 6px;
    font-family:var(--font-primary);
    font-size: 14px;
    font-weight: 400;
    transition: all 0.3s ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    white-space: nowrap;
}
.btn-yellow{
    background-color: var(--goldenrod);
    color: var(--Cod-Gray);
}
.btn-yellow:hover{
    background-color: var(--Vis);
}
.btn-black{
    background-color: var(--Cod-Gray);
    color: var(--white);
}
.btn-black:hover{
    background-color: var(--cod-gray2);
}
/* hero */
.hero{
    width: 100vw;
    height: 94.8vh;
    background: var(--gradient-green);
    padding-top: 25px;
}
.desktop-header{

}
.logo{
    font-family: var(--font-primary);
    font-size: 36px;
    font-weight: 900;
    line-height: 40px;
    text-align: center;
}
.logo-link{
    color: var(--white);
}
.desktop-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav .desktop-nav-ul{
    display: flex;
    align-items: center;
    gap: 32px;
}
.nav .desktop-nav-list{
    list-style: none;
    font-family: var(--font-primary);
    font-size: 18px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
}
.nav .desktop-nav-list a{
    color: var(--white-opacity-30);
    transition: all 0.3s ease-out;
}
.nav .desktop-nav-list a:hover{
    color: var(--white);
}
.shopping-cart{
    width: 40px;
    height: 40px;
    padding: 12px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--goldenrod);
}
.shopping-cart:hover{
    background-color: var(--Vis);
}
.shopping-cart-icon{
    display: block;
    width: 100%;
    height: auto;
}
/* intro */
.intro{
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    margin-top: 63.63px;
    justify-content: space-between;
}
/* intro-text */
.intro-text{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 24px;
    text-align: left;
    margin-top: 21.5px;
}
.intro-text-number{
    font-family: var(--font-primary);
    font-size: 60px;
    font-style: italic;
    font-weight: 400;
    line-height: 72px;
    color: var(--white-opacity-30);
    padding-left: 10px;
}
.intro-text-description{
    font-family: var(--font-primary);
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    color: var(--white-opacity-80);
}
.intro-text-btn{
    padding-top: 25px;
}
/* intro-img */
.intro-img{
    position: relative;
    width: 758px;
    height: 619.63px;
}
.intro-man {
    display: block;
    position: absolute;
    left: 205px;
    z-index: 2;
}
.intro-img-box::after ,
.intro-img-box::before {
    content: '';
    background-color: var(--Celtic);
    position: absolute;
    border-radius: 50%;
    z-index: 1;
}
.intro-img-box::after {
    width: 308px;
    height: 308px;
    top: 126.7px;
    left: 315.15px;
}
.intro-img-box::before {
    width: 318px;
    height: 318px;
    top: 224px;
    left: 134.5px;
} 

.off-box{
    display: flex;
    width: 110px;
    height: 110px;
    background-color: var(--goldenrod);
    border-radius: 72px;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 205.15px;
    top: 114px;
    z-index: 5;
}
.off-box-text{
    font-family: var(--font-secondary);
    font-size: 26px;
    font-weight: 700;
    line-height: 30.47px;
    text-align: center;
}
.arrow-box{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 14px;
    position: absolute;
    z-index: 9;
    left: 150px;
    top:551.63px;
}
.left-arrow,
.right-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border: 2px solid var(--white);
    width: 32px;
    height: 32px;
    opacity: 0.5;
}
.left-arrow:hover,
.right-arrow:hover{
    opacity: 1;
}
.right-arrow {
    transform: scaleX(-1);
}
.price{
    position: absolute;
    top: 79px;
    left: 143.04px;
}
.price-text{
    font-family: var(--font-primary);
    font-size: 36px;
    font-weight: 500;
    line-height: 43.2px;
    text-align: center;
    color: var(--white);
}
.controls{
    display: flex;
    flex-direction: column;
    gap: 21px;
    position: absolute;
    left: 736.84px;
    right: 0.16px;
    top: 198px;
}
.controls input {
    display: none;
}
.controls label {
    width: 16px;
    height: 16px;
    background-color: var(--white-opacity-20);
    border-radius: 15px;
    cursor: pointer;
    position: relative;
}
.controls span{
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 15px;
    transition: all 0.3s ease-out;
}
.controls input:checked ~ span{
    background: var(--white);
    width: 21px;
    height: 21px;
}