:root{
    --white: #ffffff;
    --Mercury: #e9e9e9;
    --black: #000000;
    --Cod-Gray: #181818;
    --cod-gray2:#1E1E1E;
    --French-Gray: #c5c2ca;
    --goldenrod: #fdde67;
    --Vis: #ffeb9d;
    --electric-violet: #9747ff;
    --Celtic: #1b2d22;
    --Lunar-Green: #2a4032;
    --Killarney: #3a5e46;
    /* gradient */
    --gradient-green:linear-gradient(110.6deg, #2A4032 0.81%, #3A5E46 100%);
    --footer-gradient:linear-gradient(to right, #FDDE67 30%, #3B5F47 30%);
    /* Fonts */
    --font-primary: "Lato", sans-serif;
    --font-secondary: "Roboto", sans-serif;
}