*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
    --white: #ffffff;
    --Mercury: #e9e9e9;
    --black: #000000;
    --Cod-Gray: #181818;
    --gray: #1E1E1E;
    --French-Gray: #c5c2ca;
    --goldenrod: #fdde67;
    --Vis: #ffeb9d;
    --electric-violet: #9747ff;
    --Celtic: #1b2d22;
    --Lunar-Green: #2a4032;
    --Killarney: #3a5e46;
    --mobile-timer-bg:#3B5F47;
    --white-opacity-30:#FFFFFF4D;
    --white-opacity-80:#FFFFFFCC;
    --white-opacity-20: #FFFFFF33;
    --black-opacity-60: #00000099;
    --black-opacity-20: #00000033;
    --black-opacity-25:#18181840;


    /* gradient */
    --gradient-green: linear-gradient(110.6deg, #2A4032 0.81%, #3A5E46 100%);
    --footer-gradient: linear-gradient(to right, #FDDE67 calc(100% / 12 * 4), #3B5F47 calc(100% / 12 * 4));
    /* Fonts */
    --font-primary: "Lato", sans-serif;
    --font-secondary: "Roboto", sans-serif;
}
body {
    font-family: var(--font-primary);
}
.container{
    width: 100%;
    max-width: 1540px;
    margin: 0 auto;
}
/* text */
h1{
    font-family: var(--font-primary);
    font-size: 112px;
    font-weight: 900;
    line-height: 100px;
    letter-spacing: 0.13em;
    color: var(--white);
}
h2{
    font-family: var(--font-primary);
    font-size: 48px;
    font-weight: 400;
    line-height: 48px;
    color: var(--black);
}
.inline-block {
    display: inline-block;
}
.display {
    display: none;
}
a {
    text-decoration: none;
}
/* col */
.col-4 {
    width: calc((100% / 12) * 4);
}
.col-5{
    width: calc((100% / 12) * 5);
}
.col-6{
    width: calc((100% / 12) * 6);
}
.col-7{
    width: calc((100% / 12) * 7);
}
.col-8{
    width: calc((100% / 12) * 8);
}
.col-9{
    width: calc((100% / 12) * 9);
}
.col-10{
    width: calc((100% / 12) * 10);
}
.col-11{
    width: calc((100% / 12) * 11);
}
.col-12{
    width: calc((100% / 12) * 12);
}
/* padding */
.padding-left{
    padding-left: 110px;
}
.padding-right{
    padding-right: 110px;
}
/* button */
.btn {
    height: 49px;
    padding: 16px 40px;
    border-radius: 6px;
    font-family:var(--font-primary);
    font-size: 14px;
    font-weight: 400;
    transition: all 0.3s ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    white-space: nowrap;
}
.btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.btn span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
}
   
.btn:hover span {
    padding-right: 15px;
}
   
.btn:hover span:after {
    opacity: 1;
    right: 0;
}
.btn-yellow{
    background-color: var(--goldenrod);
    color: var(--Cod-Gray);
}
.btn-yellow:hover{
    background-color: var(--Vis);
}
.btn-black{
    background-color: var(--Cod-Gray);
    color: var(--white);
}
.btn-black:hover{
    background-color: var(--gray);
}
/* hero */
.hero {
    width: 100vw;
    height: 748.5px;
    background: var(--gradient-green);
    padding-top: 25px;
}
.logo{
    font-family: var(--font-primary);
    font-size: 36px;
    font-weight: 900;
    line-height: 40px;
    text-align: center;
}
.logo-link{
    color: var(--white);
}
.desktop-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 63.63px;
}
.nav .desktop-nav-ul{
    display: flex;
    align-items: center;
    gap: 32px;
}
.nav .desktop-nav-list{
    list-style: none;
    font-family: var(--font-primary);
    font-size: 18px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
}
.nav .desktop-nav-list a{
    color: var(--white-opacity-30);
    transition: all 0.3s ease-out;
}
.nav .desktop-nav-list a:hover{
    color: var(--white);
}
.shopping-cart{
    width: 40px;
    height: 40px;
    padding: 12px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--goldenrod);
}
.shopping-cart:hover{
    background-color: var(--Vis);
}
.shopping-cart-icon{
    display: block;
    width: 100%;
    height: auto;
}
/* intro */
.intro{
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    /* gap: 24px; */
    justify-content: space-between;
}
/* intro-text */
.intro-text{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    z-index: 20;
    gap: 24px;
    text-align: left;
    margin-top: 21.5px;
}
.intro-text-number{
    font-family: var(--font-primary);
    font-size: 60px;
    font-style: italic;
    font-weight: 400;
    line-height: 72px;
    color: var(--white-opacity-30);
    padding-left: 10px;
}
.intro-text-description{
    font-family: var(--font-primary);
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    color: var(--white-opacity-80);
}
.intro-text-btn{
    padding-top: 25px;
}
/* intro-img */
.intro-img{
    position: relative;
    width: 758px;
    /* height: 619.63px; */
}
.intro-man {
    display: block;
    position: absolute;
    left: 205px;
    z-index: 2;
}
.intro-img-box::after ,
.intro-img-box::before {
    content: '';
    background-color: var(--Celtic);
    position: absolute;
    border-radius: 50%;
    z-index: 1;
}
.intro-img-box::after {
    width: 308px;
    height: 308px;
    top: 126.7px;
    left: 315.15px;
}
.intro-img-box::before {
    width: 318px;
    height: 318px;
    top: 224px;
    left: 134.5px;
} 
.off-box{
    display: flex;
    width: 110px;
    height: 110px;
    background-color: var(--goldenrod);
    border-radius: 72px;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 205.15px;
    top: 114px;
    z-index: 5;
}
.off-box-text{
    font-family: var(--font-secondary);
    font-size: 26px;
    font-weight: 700;
    line-height: 30.47px;
    text-align: center;
}
.arrow-box{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 14px;
    position: absolute;
    z-index: 9;
    left: 150px;
    top:551.63px;
}
.left-arrow,
.right-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border: 2px solid var(--white);
    width: 32px;
    height: 32px;
    opacity: 0.5;
}
.left-arrow:hover,
.right-arrow:hover{
    opacity: 1;
}
.right-arrow {
    transform: scaleX(-1);
}
.price{
    position: absolute;
    top: 79px;
    left: 143.04px;
}
.price-text{
    font-family: var(--font-primary);
    font-size: 36px;
    font-weight: 500;
    line-height: 43.2px;
    text-align: center;
    color: var(--white);
}
.controls{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 21px;
    position: absolute;
    left: 736.84px;
    right: 0.16px;
    top: 198px;
    z-index: 10;
}
.controls input {
    display: none;
}
.controls label {
    width: 16px;
    height: 16px;
    background-color: var(--white-opacity-20);
    border-radius: 15px;
    cursor: pointer;
    position: relative;
}
.controls span{
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 15px;
    transition: all 0.3s ease-out;
}
.controls input:hover ~ span{
    background: var(--white);
    width: 16px;
    height: 16px;
}
.controls input:checked ~ span{
    background: var(--white);
    width: 21px;
    height: 21px;
}
/* brands */
.brands ul{
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 32px;
    background-color: var(--Cod-Gray);
    padding-top: 30px;
    padding-bottom: 30px;
}
.brands ul li img{
    width: 100%;
    height: auto;
}
/* new-collection */
.new-collection{
    padding-top: 70px;
    margin-bottom: 70px;
}
.new-collection-box {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}
.new-collection-jacket{
    background-color: var(--French-Gray);
    border-radius: 24px;
    min-width: 330px;
    max-width: 500px;
    min-height: 410px;
    max-height: 550.75px;
    position: relative;
    width: 37.87%;
}
.new-collection-jacket h3{
    font-family: var(--font-primary);
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
    text-align: left;
    padding-left: 25px;
    padding-top: 24px;
}
.jacket-img-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-left: 110px;
    padding-right: 110px;
}
.jacket-img-box img {
    display: block;
    width: 100%;
    min-width: 197.28px;
    max-width: 278.66px;
    /* height: 478.88px; */
    position: absolute;
    bottom: 0;
}
 .jacket-btn{
    padding: 24px;
    position: absolute;
    bottom: 0;
    right: 0;
 }
 .new-collection-sunglasses{
    display: flex;
    background-color: var(--goldenrod);
    width: 56.06%;
    max-width: 740px;
    min-width: 330px;
    min-height: 246.49px;
    max-height: 550.75px;
    position: relative;
    border-radius: 24px;
 }
 .sunglasses-img-box{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 30px;
 }
 .sunglasses-img-box .sunglasses{
    display: block;
    width: 100%;
    min-width: 189.66px;
    max-width: 455.14px;
 }
 .sunglasses-text{
    padding-top: 71px;
    display: flex;
    flex-direction: column;
    gap: 95px;
    position: absolute;
    z-index: 10;
    right: 60px;
 }
 .sunglasses-text h3{
    font-family: var(--font-primary);
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    width: 100%;
 }
 .sunglasses-text span{
    font-family: var(--font-secondary);
    font-size: 48px;
    font-weight: 700;
    line-height: 56.25px;
    text-align: center;
 }
 .sunglasses-btn{
    padding: 24px;
    position: absolute;
    bottom: 0;
    right: 0;
 }
/* best sellers */
.best-sellers{
    padding-top: 70px;
    /* margin-bottom: 70px; */
    background-color: var(--Mercury);
}

.best-sellers-box{
    margin-top: 70px;
    margin-bottom: 70px;
}
.best-sellers-box ul{
    display: flex;
    /* justify-content: space-between; */
    gap: 35px;
}
.best-sellers-items{
    display: flex;
    flex-direction: column;
    width: 303.75px;
    height: 407px;
    gap: 16px;
}
.best-sellers-img{
    background-color: var(--white);
    position: relative;
    width: 100%;
    /* height: 347px; */
    border-radius: 24px;
    padding: 54px ;
}
.best-sellers-img-item {
    display: block;
    width: 100%;
    height: 238.99px;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: fill;
}
.heart{
    position: absolute;
    top: 25px;
    right: 25px;
}
.heart-black{
    width: 14px;
    height: 14px;
    opacity: 0.5;
    background-color: gray;
    position: relative;
    outline: none;
    transform: rotate(45deg);
    -webkit-appearance: none;
}
.heart-black::before{
    position: absolute;
    z-index: 2;
    content: "";
    background-color: gray;
    height: 60%;
    width: 100%;
    top: -55%;
    border-radius: 9px 9px 0 0;
}
.heart-black::after{
    position: absolute;
    z-index: 2;
    content: "";
    background-color: gray;
    height: 69%;
    width: 100%;
    transform: rotate(-90deg);
    top: 16%;
    right: 65%;
    border-radius: 9px 9px 0 0;
}
.heart-black:checked,
.heart-black:checked::before,
.heart-black:checked::after{
    background-color: var(--black);
    opacity: 1;
}
.sale-tag{
    position: absolute;
    top: 25px;
    left: 25px;
    width: 41px;
    height: 20px;
    padding: 3px 6px 3px 6px;
    border-radius: 6px;
    background-color: var(--Killarney);
    color:var(--white) ;
    font-family: var(--font-secondary);
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    line-height: 14.06px;
    text-align: center;
}
.best-sellers-text{
    display: flex;
    justify-content: space-between;
}
.shopping-cart2{
    width: 40px;
    height: 40px;
    padding: 11px;
    border-radius: 6px;
    display: flex;
    justify-content: center;    
    align-items: center;
    background-color: var(--goldenrod);
    transition: all 0.3s ease-out;
}
.shopping-cart2:hover {
    background-color: var(--Vis);
    border-radius: 20px;
}
.best-sellers-text h5{
    font-family: var(--font-secondary);
    font-size: 18px;
    font-weight: 500;
    line-height: 21.09px;
    text-align: left;
    margin-bottom: 4px;
}
.best-sellers-text span {
    font-family: var(--font-secondary);
    font-size: 16px;
    font-weight: 300;
    line-height: 18.75px;
    text-align: left;
    color: var(--black-opacity-60);
}
.best-sellers-text .off-price-line{
    text-decoration: line-through;
    color:var(--black-opacity-20);
    margin-right:12px
}
.best-sellers-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 70px;
}
/* Timer section */
.timer{
    display: flex;
    width: 100%;
    gap: 62px;
    padding-top: 78px;
    padding-bottom: 78px;
    background: var(--footer-gradient);
}
.shoes-off{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.shoes-off span{
    font-family: var(--font-secondary);
    font-size: 64px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
}
.timer-box{
    display: flex;
    width: 60%;
    flex-direction: column;
    gap: 93.47px;
}
.timer-box h3 {
    font-family: var(--font-primary);
    font-size: 64px;
    font-weight: 700;
    line-height: 48px;
    color: var(--white);
}
.timer-box-items{
    display: flex;
    gap: 48px;
}
.timer-box-item{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.timer-number{
    display: flex;
    justify-content: center;
    align-items: center;
    width:153.5px;
    height:112px;
    padding: 32px 58px 32px 58px;
    border-radius: 8px;
    background-color: var(--black-opacity-25);
    color: var(--white);
    font-family: Roboto;
    font-size: 64px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
}
.timer-info{
    font-family: var(--font-secondary);
    font-size: 24px;
    font-weight: 300;
    line-height: 28.13px;
    text-align: center;
    color: var(--white);
}
#mobile{
    display: none;
}
@media screen and (max-width: 520px) {
    #mobile{
        display: block;
    }
    .container{
        max-width: 520px;
    }
    .hero {
        width: unset;
        height: 638px;
    }
    .desktop-header{
        display: none;
    }
    .off-box{
        display: none;
    }
    .arrow-box{
        display: none;
    }
    .price{
        display: none;
    }
    .shoes-off{
        display: none;
    }
    .padding-left{
        padding-left: 1rem;
    }
    .padding-right{
        padding-right: 1rem;
    }
    /* mobile navbar */
    .mobile-nav{
        display: flex;
        justify-content: center;
        width: 100%;
        max-width: 520px;
        margin-left: -15px;
        margin-right: -15px;
        padding: 12px 15px 12px 15px;
        height: 48px;
        background-color: var(--goldenrod);
        position: fixed;
        bottom: 0;
        z-index: 20;
    }
    .mobile-nav-ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 1530px;
    }
    /* intro section */
    .intro{
        flex-direction: column;
    }
    .intro-text{
        gap: 12px;
        margin-top: 0;
    }
    .intro-text-number{
        font-size: 30px;
        line-height: 36px;
    }
    h1{
        font-size: 60px;
        line-height: 50px;
    }
    .intro-text-description{
        font-size: 18px;
        line-height: 21.6px;
        white-space: nowrap;
    }
    .intro-img{
        width: 100%;
    }
    .intro-man{
        width: 208.08px;
        height: 391px;
        top: -44px;
        left: 20%;
    }
    .intro-img-box::after {
        width: 192.63px;
        height: 192.63px;
        left: 150px;
        top: 10px;
    }
    .intro-img-box::before{
        width: 198.55px;
        height: 198.55px;
        top: 65px;
        left: 30px;
    }
    .controls{
        left: -20px;
        right: 0;
        top: 280px;
        flex-direction: row;
    }
    /* brands section */
    .brands ul {
        padding-top: 12px;
        padding-bottom: 12px;
    }
    /* new collection */
    .new-collection{
        padding-top: 32px;
    }
    .new-collection h2 {
        font-size: 32px;
        font-weight: 400;
        line-height: 32px;
    }
    .new-collection-box{
        margin-top: 32px;
        gap: 32px;
        justify-content: center;
    }
    .jacket-img-box img{
        width: 197px;
        height: 339px;
    }
    .new-collection-jacket{
        width: 100%;
    }
    .new-collection-jacket h3{
        font-size: 18px;
        font-weight: 700;
        line-height: 18px;
    }
    .new-collection-sunglasses{
        width: 100%;
    }
    .sunglasses-img-box .sunglasses{
        width: 189.66px;
        height: 216.74px;
    }
    .sunglasses-text{
        padding-top: 20px;
        gap: 52px;
        right: 20px;
    }
    .sunglasses-text h3{
        font-size: 18px;
        font-weight: 700;
        line-height: 18px;
        text-align: center;
    }
    .sunglasses-text span{
        font-size: 24px;
        font-weight: 700;
        line-height: 28.13px;
        text-align: center;
    }

    .best-sellers{
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .best-sellers h2 {
        font-size: 32px;
        font-weight: 400;
        line-height: 32px;
        text-align: left;
    }
    .best-sellers-btn{
        display: none;
    }
    .best-sellers-box{
        margin-top: 32px;
        margin-bottom: 0;
        overflow-x: scroll;
        overflow-y: hidden;
    }
    .best-sellers-items{
        width: 227.75px;
        height: 271px;
        gap: 12px;
    }
    .best-sellers-img{
        padding: 31px 51px 40px 43px;
    }
    .best-sellers-img-item{
        width: 132.99px;
        height: 148.36px;
        object-fit: contain;
    }
    .best-sellers-text h5 {
        margin-bottom: 0;
        font-size: 16px;
        font-weight: 500;
        line-height: 18.75px;
    }
    .best-sellers-text span{
        font-size: 14px;
        font-weight: 300;
        line-height: 16.41px;
        text-align: left;
    }
    .sale-tag{
        top: 20px;
        left: 20px;
    }
    /* timer section */
    .timer{
        background: var(--mobile-timer-bg);
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .timer-box h3{
        font-size: 32px;
        font-weight: 700;
        line-height: 32px;
        text-align: center;
    }
    .timer-box{
        width: 100%;
        gap: 2rem;
        margin-bottom: 2rem;
        align-items: center;
    }
    .timer-box-items{
        gap: 12px;
    }
    .timer-number{
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
        width: 54px;
        height: 56px;
        padding: 12px 20px;
    }
    .timer-info {
        font-size: 12px;
        font-weight: 300;
        line-height: 14.06px;
        color: var(--white);
    }
    .heart-black::before{
        top: -54%
    }
    .heart-black::after{
        top: 19%;
        right: 70%;
    }
    .shopping-cart2:hover{
        display: none;
    }
}   